In [2]:
import pandas as pd
import os

# List of file paths (replace with your actual paths)
file_paths = [
    'AAPL_2014_2024.csv',
    'ACN_2014_2024.csv',
    'ADBE_2014_2024.csv',
    'AMD_2014_2024.csv',
    'AVGO_2014_2024.csv',
    'CRM_2014_2024.csv',
    'CSCO_2014_2024.csv',
    'NVDA_2014_2024.csv',
    'ORCL_2014_2024.csv'
]

# Combine all CSVs into one DataFrame with an additional column
dataframes = []
for file in file_paths:
    # Extract the identifier from the file name
    identifier = os.path.basename(file).split('_')[0]
    # Read CSV and add a new column
    df = pd.read_csv(file)
    df['Source'] = identifier
    dataframes.append(df)

# Concatenate all DataFrames
combined_df = pd.concat(dataframes)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined_stocks_2014_2024.csv', index=False)

print("CSV files combined successfully into 'combined_2014_2024.csv' with a new 'Source' column")

CSV files combined successfully into 'combined_2014_2024.csv' with a new 'Source' column

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
df= pd.read_csv("combined_stocks_2014_2024.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume,Source
0,2014-01-02,19.845715,19.893929,19.715000,19.754642,17.234303,234684800,AAPL
1,2014-01-03,19.745001,19.775000,19.301071,19.320715,16.855726,392467600,AAPL
2,2014-01-06,19.194643,19.528570,19.057142,19.426071,16.947647,412610800,AAPL
3,2014-01-07,19.440001,19.498571,19.211430,19.287144,16.826445,317209200,AAPL
4,2014-01-08,19.243214,19.484285,19.238930,19.409286,16.933004,258529600,AAPL
...,...,...,...,...,...,...,...,...
24583,2024-11-01,170.149994,172.270004,169.100006,170.020004,170.020004,5680600,ORCL
24584,2024-11-04,170.309998,170.479996,168.729996,169.589996,169.589996,4804400,ORCL
24585,2024-11-05,170.470001,171.889999,170.320007,171.779999,171.779999,5456800,ORCL
24586,2024-11-06,178.520004,182.100006,177.419998,181.240005,181.240005,11085000,ORCL
24587,2024-11-07,181.080002,186.669998,180.539993,186.369995,186.369995,7759400,ORCL

In [3]:
import pycaret
pycaret.__version__

'3.3.2'

In [4]:
from pycaret.regression import *

s = setup(df, target = 'Close')

In [5]:
best = compare_models()